<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csdk.plugin">

    <application>
        <!--注册代理Activity-->
        <activity
            android:name="com.csdk.plugin.activity.ProxyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.csdk.plugin.activity.ProxyFragmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--注册代理Service-->
        <service android:name="com.csdk.plugin.service.ProxyService" />
    </application>

</manifest>